{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="h4">Token</h1>

				<div id="tx-info-table">
					<div class="mb-3">
						<div class="table-responsive">
							<table class="table table-striped table-hover">
								<tbody>
									<tr>
										<td>Name</td>
										<td>{{ token.name }}</td>
									</tr>
									<tr>
										<td>Address</td>
										<td class="font-monospace">{{ token.address }}</td>
									</tr>
									<tr>
										<td>Transaction</td>
										<td>
											<a href="{{ url_for('explorer.transaction', txid=token.transaction.txid) }}" class="font-monospace">{{ token.transaction.txid }}</a>
										</td>
									</tr>
									<tr>
										<td>Issuer</td>
										<td>
											<a href="{{ url_for('explorer.address', address=token.issuer.address) }}" class="font-monospace">{{ token.issuer.address }}</a>
										</td>
									</tr>

									<tr>
										<td>Supply</td>
										<td>
											<span>{{ token.supply|amount }}</span> {{ token.ticker }}
										</td>
									</tr>
									<tr>
										<td>Ticker</td>
										<td>{{ token.ticker }}</td>
									</tr>
									<tr>
										<td>Decimals</td>
										<td>{{ token.decimals }}</td>
									</tr>
									<tr>
										<td>Holders</td>
										<td>{{ token.holders }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				{% include "elements/transactions.html" %}

				<div class="mb-3">
					{% if pagination %}
						{% if pagination.pages|length > 1 %}
							{% if pagination.previous %}
								<a href="{{ url_for(pagination.url, page=pagination.previous, address=token.address) }}" class="button">
									<i class="fas fa-fw fa-chevron-left"></i>
								</a>
							{% endif %}

							{% for page in pagination.pages %}
								<a href="{{ url_for(pagination.url, page=page, address=token.address) }}" class="button {% if page == pagination.current %}active{% endif %} {% if page == pagination.current - 1 or page == pagination.current + 1 %}show-xs{% endif %}">
									{{ page }}
								</a>
							{% endfor %}

							{% if pagination.next %}
								<a href="{{ url_for(pagination.url, page=pagination.next, address=token.address) }}" class="button">
									<i class="fas fa-fw fa-chevron-right"></i>
								</a>
							{% endif %}
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}