{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="h4">EQRC20 Tokens</h1>

				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Ticker</th>
								<th scope="col">Contract address</th>
								<th scope="col">Created</th>
								<th scope="col">Supply</th>
							</tr>
						</thead>
						<tbody>
							{% for token in tokens %}
								<tr>
									<td>
										{{ token.name }}
									</td>
									<td>
										{{ token.ticker }}
									</td>
									<td>
										<a href="{{ url_for('explorer.token', address=token.address) }}" class="font-monospace">
											{{ token.address }}
										</a>
									</td>
									<td>
										<span class="local-time" time="{{ token.created|timestamp }}"></span>
									</td>
									<td>
										{{ token.supply|amount }} {{ token.ticker }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		{% include "elements/pagination.html" %}
	</div>
{% endblock content %}
