<nav class="navbar navbar-expand-lg navbar-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="logo" src="/static/img/logo.svg">
            Explorer
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbar-supported-content">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('explorer.blocks') }}">Blocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('explorer.transactions') }}">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('explorer.tokens') }}">Tokens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('explorer.api') }}">API</a>
                </li>
            </ul>
            <form class="d-flex" action="{{ url_for('explorer.search') }}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
