<div class="row">
	<div class="col-md-6 col-sm-12 transaction-from">
		<div class="mb-3">
			<span>Sender:</span>
			<a href="{{ url_for('explorer.address', address=transfer.sender.address) }}" class="font-monospace">
				{{ transfer.sender.address }}
			</a>
		</div>
		<div class="mb-3">
			<span>Receiver:</span>
			<a href="{{ url_for('explorer.address', address=transfer.receiver.address) }}" class="font-monospace">
				{{ transfer.receiver.address }}
			</a>
		</div>
	</div>
	<div class="col-md-6 col-sm-12 transaction-to">
		<div class="mb-3">
			<span>Token:</span>
			<a href="{{ url_for('explorer.token', address=transfer.token.address) }}" class="font-monospace">
				{{ transfer.token.address }}
			</a>
		</div>
		<div>
			<span>Amount:</span>
			<b>{{ transfer.amount|amount }} {{ transfer.token.ticker }}</b>
		</div>
	</div>
</div>